<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- dummy Symbol polyfill -->
    <script>/*if (typeof(Symbol)==="undefined") { window.Symbol = function(arg) { return arg; } }*/</script>

  </head>
  <body>
  </body>
</html>
