.PlayersList {

  .name {
    color: green;

    &.host {
      background: yellow;
      font-weight: bold;
    }
  }

  .player {

    .stats {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .score {

      }

      .timeleft {

      }
    }

    &.current {
      background: gold;
    }
  }
}
