{
  "presets":[
    "env"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        ["provide-modules", {
          "test/_helpers": ["window"]
        }],
        ["module-resolver", {
          "root": ["./"],
          "alias": {
            "test/_helpers": "./test/_helpers",
            "pixi.js": "./test/_pixi"
          }
        }]
      ]
    }
  }
}
