.Player {
  position: absolute;
  display: block;
  font-size: 10px;

  .icon {
    display: block;
    position: relative;
    width: var(--player-icon-size);
    height: var(--player-icon-size);
    transform: translate(calc(var(--player-icon-size) * -0.5), calc(var(--player-icon-size) * -0.5));
  
    background: red;
    border-radius: 50%;
    
    .name {
      position: absolute;
      bottom: -1em;
      width: 100%;
      text-align: center;
    }
  }
}
