.Deck {
  position: absolute;
  justify-content: center;
  display: flex;
  width: var(--card-width);
  height: var(--card-height);
  transform:
    translate(calc(var(--card-width) * -0.5), calc(var(--card-height) * -0.5))
    rotate( var(--angle) );

  background: rgba(73, 16, 8, 0.1);
  border: var(--line-size) dashed rgb(255, 117, 74);
  border-radius: calc( var(--line-size)*2 );
  font-size: 12px;

  .label {
    display: block;
    align-self: center;
    text-align: center;
  }
  
  .ClassicCard {
    transform:
      rotate(var(--angle))
      translate(calc(var(--deck-offset) * -0.6), calc(var(--deck-offset) * -0.6));
    box-shadow:
      calc(var(--deck-offset) * 0.3) calc(var(--deck-offset) * 0.3) white,
      calc(var(--deck-offset) * 0.6) calc(var(--deck-offset) * 0.6) white;
  }
}
